*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar-nav{
    margin-right: 50px;
}
nav .navbar-nav ul li a {
    color: rgb(16, 0, 156) !important;
}
nav .navbar-nav ul li a:hover {
    color: rgb(242, 4, 250) !important;
}
nav .navbar-nav li a{
    color: rgb(240, 240, 240) !important;
}
nav .navbar-nav li a:hover{
    color: rgb(180, 179, 179) !important;
}
/*==================================================== Carosule CSS ==================================================== */
.btn{
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 15px;
}
.courses-explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
